%h1 Activation Code
%form{ :action => tool_sending_path, :method => "post" }
  %table
    %tr
      %td
        %input{ :name => "account_name", :type => "hidden", :value => @account_name }
    %tr
      %td
        %input{ :name => "shard_name", :type => "hidden", :value => @shard_name }
    %tr
      %td
        %input{ :name => "gametool_host", :type => "hidden", :value => @gametool_host }
    %tr
      %td
        %input{ :name => "gametool_port", :type => "hidden", :value => @gametool_port }
    %tr
      %td
        Avatar:
      %td
        %select{ :name => "avatar_id" }
          -@gmtool.getAvatars(@account_name).each do |avatar|
            -if(!avatar['deleted'])
              %option{ :value => avatar['avatarId'] }
                =avatar['avatar']
    %tr
      %td
        Code:
      %td
        %input{:name => "code", :size => "20", :type => "text"}
  =submit_tag "activate"