%h1 Activation Code
%form{ :action => tool_sending_path, :method => "post" }
  %table
    %tr
      %td
        %input{ :name => "accountName", :type => "hidden", :value => @accountName }
    %tr
      %td
        Avatar:
      %td
        %select{ :name => "avatarId" }
          - @gmtool.getAvatars(@accountName).each do |avatar|
            - if(!avatar['deleted'])
              %option{ :value => avatar['avatarId'] }
                =avatar['avatar']
    %tr
      %td
        ShardName:
      %td
        %select{:name => "shardName"}
          =@gmtool.getAllShards().each do |shard|
            %option{ :value => shard }
              =shard
    %tr
      %td
        Code:
      %td
        %input{:name => "code", :size => "20", :type => "text"}
  = submit_tag "Activate"
