= form_tag tool_activation_path, :method => :post do
  %table{ :border => 0, :width => "100%", :height => "100%" }
    %tr{ :align => "center", :valign => "center" }
      %td
        = text_field_tag "accountName", "test01"
        = submit_tag "Submit"
